body {
    margin: 0;
    font-family: sans-serif;
    background: url("https://i.pinimg.com/originals/fd/88/bc/fd88bc2552e6888159c19d0796f79e37.jpg") black;
    background-size: cover;
    min-height: 100vh;
}
.parent{
    display: flex;
    align-items: center;
}
#bands {
    list-style: inside square;
    font-size: 20px;
    background: white;
    width: 500px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}
#bands li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}
#bands li:last-child {
    border-bottom: 0;
}
h2{
    text-align: center;
}
.span{
    font-size: 30px;
    margin-left: 10px;
    color: black;
}
a{
    text-decoration-color: black;
}
.title{
    display: none;
}
@media (pointer:none), (pointer:coarse) {
    .span{
        font-size: 50px;
    }
    #bands {
        width: 80%;
    }
}